streamlit
langchain
langchain-community
langchain-groq
langchain-huggingface
sentence-transformers
faiss-cpu
pymongo
python-dotenv
torch
transformers
rapidfuzz
dnspython
sentencepiece
accelerate
razorpay
flask
flask-cors